h1 {
  @apply text-4xl text-center text-white
}
h2 {
  @apply text-xl text-center text-white
}
h3 {
  @apply text-lg text-left text-primary first-letter:uppercase
}
.container {
  @apply flex flex-col gap-4 mx-auto max-w-sm p-6 bg-white bg-opacity-70 backdrop-blur-lg rounded-2xl
}

img {
  @apply bg-beige rounded-sm rounded-tr-2xl rounded-bl-2xl aspect-video
}
form {
  @apply flex flex-col gap-4;
}
button, a, input[type=submit], .input-style {
  @apply duration-300 py-1.5 rounded-sm
}
input[type=submit] {
  @apply text-center px-4 bg-primary hover:bg-opacity-90 text-beige rounded-tr-2xl rounded-bl-2xl hover:rounded-tr-3xl hover:rounded-bl-3xl;
  @apply disabled:bg-red;
}
.input-container {
  @apply flex flex-col gap-1 text-base;
  label {
    @apply text-black-100;
  }
  input, textarea, select, .input-style {
    @apply px-2 py-1.5 bg-white hover:bg-beige text-black-300 duration-300 rounded-sm rounded-tr-xl rounded-bl-xl focus:rounded-tr-2xl focus:rounded-bl-2xl;
  }
  .grow-wrap {
    @apply grid;
    &::after {
      content: attr(data-replicated-value) " ";
      @apply whitespace-pre-wrap invisible px-2 py-1.5;
    }
    textarea {
      @apply min-h-24 resize-none overflow-hidden;
    }
    &::after, textarea {
      grid-area: 1 / 1 / 2 / 2;
    }
  }
}
.image-label div {
  @apply grid bg-white hover:bg-beige;
  img, input {
    @apply bg-transparent rounded-none;
    grid-area: 1 / 1 / 2 / 2;
  } 
  img {
    @apply bg-transparent w-full h-full pb-12 object-cover aspect-video;
  }
  input {
    @apply mt-auto;
  }
}

button, a {
  &.secondary-inline {
    @apply px-2 py-1 text-base inline-block rounded-tr-lg rounded-bl-lg hover:rounded-tr-xl hover:rounded-bl-xl bg-secondary hover:bg-opacity-90 text-primary
  }
  &.primary, &.secondary, &.tertiary, &.delete, &.frosted {
    @apply text-center text-lg px-4 rounded-tr-2xl rounded-bl-2xl hover:rounded-tr-3xl hover:rounded-bl-3xl;
  }
  &.primary {
    @apply bg-primary hover:bg-opacity-90 text-beige;
  }
  &.secondary {
    @apply bg-secondary hover:bg-opacity-90 text-primary;
  }
  &.tertiary {
    @apply hover:bg-beige text-primary;
  }
  &.delete {
    @apply text-red hover:bg-red hover:text-white;
  }
  &.frosted {
    @apply bg-primary bg-opacity-20 hover:bg-opacity-15 text-beige;
  }
}
.leaf {
  @apply duration-300 py-1 px-2 bg-white hover:bg-beige text-primary;
}

